<div class="col-xs-12">
    <h4><b>List Of Peoples</b></h4>
        <a href="#!/view1" class="btn btn-success" style="text-decoration: none;float:right;display: inline-block;">Add Users</a>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Gender</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Phone</th>
                <th>Delete</th>
                <th>Edit</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="contacts in getContactDetails">
                <td>{{$index + 1}}</td>
                <td>{{contacts.firstname}}</td>
                <td>{{contacts.lastname}}</td>
                <td>{{contacts.gender}}</td>
                <td>{{contacts.street}}</td>
                <td>{{contacts.city}}</td>
                <td>{{contacts.state}}</td>
                <td>{{contacts.phone}}</td>
                <td style="display: none;">{{contacts._id}}</td>
                <td><button class="btn btn-danger" ng-click="deleteUser(contacts)">Delete</button></td>
                <td><button class="btn btn-primary"  ng-click="editUser(contacts)">Edit</button></td>

            </tr>
            </tbody>
        </table>



    </div>